body {
	text-align: center;
    font-family: helvetica;
    margin: 0;
    background-color: #FEF;
   }

.capa{
	background-image: url(estudos1.jpg);
	background-size: cover;
	color: white;
	background-position: top;
}


.alinhamento{
	padding: 40px;
}

.capa h1{
	font-size: 1.5em;
	margin: 0;
	color: blue;
    text-shadow: black 2px 2px;
}

h1:hover{
	color: grey;
}

.capa p{
	font-size: 0.8em;
	margin: 0;
	color: blue;
    text-shadow: black 1px 1px;
}


#topo a{
	list-style: none;
	display: inline;
	text-align: center;
	padding: 5px 20px;
	display: inline-block;
	color: black;
	text-decoration: none;
	border: 1px solid;
	border-radius: 5px;
	margin: 0;
	color: gray;

}

#topo a:hover{
	background-color: #191818;
}

section h2{
	font-size: 1.0em;
	margin: 30;
	color: black;
}

section p{
	font-size: 0.8em;
	margin: 20;
	color: black;
}

#kkk{
	width: 80%;
	height: 80%;
}

#a h3{
	font-sizd: 1.0em;
	margin: 30;
	color: black;
}

#a p{
	font-size: 0.8em;
	margin: 20;
	color: darkgrey;
}

#b h4{
	font-size: 1.0em;
	margin: 30;
	color: black;
}

#b p{
	font-size: 0.8em;
	margin: 20;
	color: black;
}

#c h5{
	font-size: 1.0em;
	margin: 30;
	color: black;
}

#c p{
	font-size: 0.8em;
	margin: 20;
	color: black;
}

#tey p{
	font-size: 1.0em;
	margin: 1;
}

nav a{
	display: block;
	padding: 11px 0px;
	width: 100px;
	margin: 5px auto;
	border: 2px solid;
	border-radius: 6px;
	text-decoration: none;
	color: gray;
}
footer p{
	font-size: 0.5em;
	margin: 0;
	color: black;
}
    
    
    